
    <div id="reportes_movil_panel" class="reportes_movil_panel">
        <div class="reportes_movil">
            <div class="cont_danos_materiales"><span class="img_materiales"></span><span class="txt_danos">Daños Materiales</span><input class = "input_danos" id="input_danos_materiales" value="<%= reportData[0].CANTIDAD %>" readonly></input></div>
            <div class="cont_danos_animales"><span class="img_animales"></span><span class="txt_danos" style="color:#1C2046 !important">Daños de Animales</span><input class = "input_danos" id="input_danos_animales" value="<%= reportData[0].CANTIDAD %>" readonly></input></div>
            <div class="cont_danos_integridad"><span class="img_integridad"></span><span class="txt_danos">Daños a la integridad humana</span><input class = "input_danos" id="input_danos_integridad" value="<%= reportData[0].CANTIDAD %>" readonly></input></div>
            <div class="cont_danos_insumos"><span class="img_insumos"></span><span class="txt_danos" style="color:#1C2046 !important">Insumos y materiales</span><input class = "input_danos" id="input_danos_insumos" value="<%= reportData[0].CANTIDAD %>" readonly></input></div>
            <div class="cont_danos_soportes"><span class="img_soportes"></span><span class="txt_danos">Soportes</span><input class = "input_danos" id="input_danos_soportes" value="<%= reportData[0].CANTIDAD %>" readonly></input></div>

    </div>
    </div>
